<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Hibernate_demo_1?createDatabaseIfNotExist=true&amp;useSSL=false</property>
        <property name="hibernate.connection.username">darshit</property>
        <property name="hibernate.connection.password">Darshit@2272000</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="com.example.demo1.Bean.Students"/>
        <mapping class="com.example.demo1.Bean.Bills"/>
        <mapping class="com.example.demo1.Bean.Student_Payment"/>
    </session-factory>
</hibernate-configuration>